.anime-card-container {
    margin: 1rem;
    transition: transform 0.3s ease-out;
}

.anime-card-paper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.anime-card-container:hover {
    background-color: #444444;
    transform: scale(1.05);
}