.single-anime-container {
    margin-top: 30px !important;
}

.single-anime-img {
    border-radius: 10px;
}

.single-anime-description {
    max-width: 400px;
    padding: 20px;
}

.single-anime-container-2 {
    margin-top: 30px !important;
}

.single-anime-synopsis {
    max-width: 800px;
    padding:20px;
}

.anime-names {
    max-width: 300px;
}

.alternate-names-grid {
    margin-top: 30px;
}

.alternate-names-paper {
    max-width: 400px;
    max-height: 120px;
    padding:20px;
}

.season-paper {
    max-width: 300px;
    padding: 20px;
    margin-left: 30px;
    max-height: 70px;
}

.source-paper {
    max-width: 300px;
    max-height: 70px;
    padding: 20px;
    margin-left: 30px;
}